<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092269539857-etu5g4rqfa5lus9vtr6aqgrgf7qmlc6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092269539857-etu5g4rqfa5lus9vtr6aqgrgf7qmlc6p</string>
	<key>API_KEY</key>
	<string>AIzaSyC0R5pJ1EzvNrqB8lCSbvvJqPJ3t17_oHM</string>
	<key>GCM_SENDER_ID</key>
	<string>1092269539857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vibhu.prashar.E-DustbinAdmin</string>
	<key>PROJECT_ID</key>
	<string>customlogin-1cdc0</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogin-1cdc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092269539857:ios:0235fcf9280fb43bb827b0</string>
	<key>DATABASE_URL</key>
	<string>https://customlogin-1cdc0.firebaseio.com</string>
</dict>
</plist>